[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sock = "*"
pandas = "*"
pyodbc = "==4.0.34"

[dev-packages]

[requires]
python_version = "3.10"
